*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
body{
    Font-size: 15px;
    padding: 50px 35px 50px 35px;
}
.text{
    
    text-align: center;
    margin-bottom: 50px;
    font-size: 16px;
    
}
.text-title1{
    width: 100%;
    font-size: 23px;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.5;
}
.text-title2{
    width: 100%;
    font-size: 25px;
    margin-bottom: 15px ;
    font-family: 'Poppins', sans-serif;
}
.text-parragram{
    opacity: 0.5;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.container-one{
    border-top: 4px solid rgb(60, 188, 238);
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 25px 20px 25px 20px;
    font-family: 'Poppins', sans-serif;
}
.container-one-title{
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.container-one-text{
    opacity: 0.5;
}
.container-one-icon{
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    left: 72%;
}
img{
    margin-top: 20px;
    
}
